<%@ CodeTemplate Src="common.cs"  Inherits="Common.CommonSqlCode" Language="C#" 
TargetLanguage="Java" Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8"%>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="Common" %>

<%@ Property Name="package" Type="String" Category="2.项目"  Default=""   Description="包名，输入com.cse.sherp" %>		
<%@ Property Name="author" Type="String" Category="1.版权信息"   Description="作者"  Optional="True" Default="wu.kaibin" %>
<%@ Property Name="SrcTable" Type="SchemaExplorer.TableSchema" Category="3.当前要做的表"  Description="当前要做的表" %>
package <%=package%>.service;

import java.util.List;
import java.util.Date;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import <%=package%>.domain.<%=getTableJavaFirstUpperName(SrcTable.Name)%>;
import <%=package%>.mapper.<%=getTableJavaFirstUpperName(SrcTable.Name)%>Mapper;
import com.cetccity.common.base.util.BeanUtil;
import <%=package%>.vo.<%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo;

@Service
public class <%=getTableJavaFirstUpperName(SrcTable.Name)%>ServiceImpl implements <%=getTableJavaFirstUpperName(SrcTable.Name)%>Service {
	
	@Autowired
	<%=getTableJavaFirstUpperName(SrcTable.Name)%>Mapper <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper;
	
	@Override
	public List<<%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo> query<%=getTableJavaFirstUpperName(SrcTable.Name)%>(<%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo vo){
		vo.setStatus("ENABLED");
		return <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper.query<%=getTableJavaFirstUpperName(SrcTable.Name)%>(vo);
	}

	@Override
	public int add<%=getTableJavaFirstUpperName(SrcTable.Name)%>(<%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo vo){
		<%=getTableJavaFirstUpperName(SrcTable.Name)%> po = BeanUtil.copy(vo, <%=getTableJavaFirstUpperName(SrcTable.Name)%>.class);
		po.setStatus("ENABLED");
		po.setUpdateTime(new Date());
		return <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper.insertSelective(po);
	}
	
	@Override
	public <%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo find<%=getTableJavaFirstUpperName(SrcTable.Name)%>ById(Long id){
		<%=getTableJavaFirstUpperName(SrcTable.Name)%> po = <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper.selectByPrimaryKey(id);
		return BeanUtil.copy(po, <%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo.class);
	}
	
	@Override
	public int update<%=getTableJavaFirstUpperName(SrcTable.Name)%>ById(<%=getTableJavaFirstUpperName(SrcTable.Name)%>Vo vo){
		<%=getTableJavaFirstUpperName(SrcTable.Name)%> po = BeanUtil.copy(vo, <%=getTableJavaFirstUpperName(SrcTable.Name)%>.class);
		po.setUpdateTime(new Date());
		return <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper.updateByPrimaryKeySelective(po);
	}
	
	@Override
	public int del<%=getTableJavaFirstUpperName(SrcTable.Name)%>ById(Long id){
		<%=getTableJavaFirstUpperName(SrcTable.Name)%> po = new <%=getTableJavaFirstUpperName(SrcTable.Name)%>();
		po.setId(id);
		po.setStatus("DISABLED");
		po.setUpdateTime(new Date());
		return <%=getTableJavaFirstLowerName(SrcTable.Name)%>Mapper.updateByPrimaryKeySelective(po);
	}
	
}
